body {
    background-color: #222831;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


h3 {
    margin-top: 1em;
}

#map-container {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#map {
    height: 100%;
    width: 100%;
    border-radius: 2em;
}


.limit-container {
    display: flex;
    flex-direction: row;
}

.info-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.info-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F4557;
    height: 100%;
    width: 15%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

#mode {
    height: 50px;
    width: 100px;
}

#file_container {
    display: none;
    /* display: flex; */
    /* flex-direction: row; */
}

#file_container > input {
    margin-top: 10px;
}

.select-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

.select-container-container {
    display: flex;
    flex-direction: row;
}

.select-container > select {
    background-color: inherit;
    height: 75%;
    width: 60%;
    margin-bottom: 1px;
    border: 2px solid rgb(0, 66, 154);
    color: white;
    border-radius: 25px;
    padding: 10px;
}


.select-container > select::selection {
    background-color: rgb(0, 74, 14);
}


.select-option-adder {
    height: 10%;
    width: 20%;
    background-color: rgb(0, 66, 154);
    padding: 2px;
    text-align: center;
    margin-top: 10px
}


.loading-animation {
  width: 10%;
  height: 37.5%;
  border: 3px solid #ccc;
  border-top-color: #888;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
