body {
    background-color: rgb(70, 79, 86);
    color:rgb(225, 225, 225);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


h3 {
    margin-top: 1em;
}

/* Set the size of the div element that contains the map */
#map {
    height: 25em;
    /* The height is 400 pixels */
    width: 50em;
    /* The width is the width of the web page */
    border-radius: 2em;
    margin-top: 1.5em;
  }


.limit-container {
    display: flex;
    flex-direction: row;
}

#mode {
    height: 50px;
    width: 100px;
}

.download {
    height: 25px;
    width: 150px;
    text-align: center;
    background-color: navy;
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15%;
}


select {
    width: 30em;
    height: auto;
}

#file_container {
    visibility: hidden;
}

